[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.3.5"
matplotlib = "3.5.1"
cogapp = "3.3.0"
scikit-learn = "1.0.2"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
modify ="cog -r report.md"
